body {
    margin: 0;
    padding: 0;
  }
  #container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  #control {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #botonCaptura{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #ffffffcc;
    color: #000;
    cursor: pointer;
  }
